.first{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
        margin-left: 5vw;
        text-decoration: none;
        color: black;
        img{
            width: 40px;
            justify-self: center;
            align-items: center;
        }
    }
}
.menuitem{
    align-items: center;
}
.items{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 1.1em;
    align-items: center;
    position: relative;
    top: 6px;
}
.items:hover{
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-color:#1976d2 ;
    text-decoration-thickness: 2px;
}
.third{
    display: flex;
    justify-content: flex-end;
    .contact{
        margin-right: 6vw;
        margin-top: 6px;
    }
}
.container{
    margin:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}